<p>notas works!</p>

<div class="input-group-prepend">
    <span class="input-group-text">Titulo</span>
</div>
<input type="text" id="text" placeholder="Descripcion de la Tarea" 
app-restrict-input="words" name="texto" autofocus class="form-control">

<div class="input-group-prepend">
    <span class="input-group-text">Descripcion</span>
</div>
<input type="text" id="text" placeholder="Descripcion de la Tarea" 
app-restrict-input="words" name="texto" autofocus class="form-control">

<div class="input-group-append">
    <button type="button" class="btn btn-outline-primary">
        Guardar</button>
</div>