<app-navbar></app-navbar>
<div>
  <router-outlet></router-outlet>
</div>
<div id="layoutAuthentication_footer">
  <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <p>Libni Heldai Mendoza Paleta</p>
        <hr>
        <p>Desarrollo de Aplicaciones Web</p>
        <hr>
        <p>ITIC.Ivan Eduardo Garcia Quintero</p>
        <hr>
          <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Boostrap 2020</div>
              <div>
                  <a href="#">Privacy Policy</a>
                  &middot;
                  <a href="#">Terms &amp; Conditions</a>
              </div>
          </div>
      </div>
  </footer>
</div>